{% load i18n admin_urls %}


 {% if inline_admin_formset.is_collapsible %} {% endif %}

 {% if inline_admin_formset.formset.max_num == 1 %}
 {{ inline_admin_formset.opts.verbose_name|capfirst }}
 {% else %}
 {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
 {% endif %}

 {% if inline_admin_formset.is_collapsible %} {% endif %}
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}
 {{ inline_admin_formset.opts.verbose_name|capfirst }}: {% if inline_admin_form.original %}{{ inline_admin_form.original }}{% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %} {% if inline_admin_formset.has_change_permission %}{% translate "Change" %}{% else %}{% translate "View" %}{% endif %} {% endif %}
{% else %}#{{ forloop.counter }}{% endif %}
 {% if inline_admin_form.show_url %} {% translate "View on site" %} {% endif %}
 {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %} {{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }} {% endif %}

 {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}

<div style="display:none" aria-hidden="true">{% for hidden in inline_admin_form.form.hidden_fields %}{{ hidden }}{% endfor %}</div>

 {% with parent_counter=forloop.counter0 %}
 {% for fieldset in inline_admin_form %}
 {% include "admin/includes/fieldset.html" with heading_level=4 prefix=fieldset.formset.prefix id_prefix=parent_counter id_suffix=forloop.counter0 %}
 {% endfor %}
 {% endwith %}

 {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
 {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
 {% endfor %}
 {% if inline_admin_formset.is_collapsible %} {% endif %}

